<!-- <img src="https://images.pexels.com/photos/265216/pexels-photo-265216.jpeg?cs=srgb&dl=pexels-pixabay-265216.jpg&fm=jpg" class="img-fluid" alt="home"> -->

<html>
    <body>
        
        <img src="https://images.pexels.com/photos/265216/pexels-photo-265216.jpeg?cs=srgb&dl=pexels-pixabay-265216.jpg&fm=jpg" class="img-fluid" alt="home" style="background-repeat: repeat;">
        <div class="one">
        Crop Deal Management
        </div>
        <div class="two">
        This Crop deal management system is leads to manage platform where farmers and dealers can register them self to do various operations.
        </div>
        <br>
        <div class="three">
            This Crop deal management system will perform various operations where the farmer can list 
            And sell his products directly to the dealer by adding his location quantity and desired price who is looking for the product using the same platform.
        </div>
        <div class="four">
            
        </div>
    </body>
</html>