.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: auto;
    padding-top: 10px;
    margin-top: auto;
    z-index: +1;
    margin-top: auto;
  }