body{
    height: 100vh;
    background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
    background-image: url('https://images.pexels.com/photos/265216/pexels-photo-265216.jpeg?cs=srgb&dl=pexels-pixabay-265216.jpg&fm=jpg');
    background-size: 100%;
    height: 100%;
    background-repeat: repeat;
    min-height: 100vh;
}