<body>
  <div class="container" style=" padding-bottom: 130px; width:590px;">
    <div class="mb-3">
      <h1 style="color: black;">Update</h1>
    </div>
    <form [formGroup]="updateform" (ngSubmit)="update()">


      <div class="mb-3">
        <label for="exampleInputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="exampleInputAddress" formControlName="userAddress">
      </div>
      <div *ngIf="form.userAddress.touched && form.userAddress.invalid" class="alert alert-danger">
        <small>Adress Required</small>
      </div>

      <div class="mb-3">
        <label for="exampleInput" class="form-label"> Mobile Number</label>
        <input type="text" pattern="^[6-9]\d{9}$" class="form-control" id="exampleInputPassword1"
          formControlName="userPhoneNo">
      </div>

      <div *ngIf="form.userPhoneNo.touched && form.userPhoneNo.invalid" class="alert alert-danger">
        <small *ngIf="form.userPhoneNo.errors && form.userPhoneNo.touched">Phone number is Invalid</small>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"> Email</label>
        <input type="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" class="form-control"
          id="exampleInputPassword1" formControlName="userEmail">
      </div>
      <div *ngIf="form.userEmail.touched && form.userEmail.invalid" class="alert alert-danger">
        <small *ngIf="form.userEmail.errors && form.userEmail.touched">Email is in Invalid</small>

      </div>
      <button type="submit" class="btn btn-info">Update</button>
      <button type="back" class="btn btn-danger" routerLink="/dealer-page">Back</button>
    </form>
  </div>
</body>
