body{
    display: flex;
    background-image: url('https://images.pexels.com/photos/265216/pexels-photo-265216.jpeg?cs=srgb&dl=pexels-pixabay-265216.jpg&fm=jpg');
    background-size: 100%;
}
.btn-danger{
    height: 50px;
    width:50px;
}
.container{
    margin-top: 6rem;
    padding-bottom: 20%;
}
.card1{
    margin-top: 2rem;

}
img{
    width:18rem;
    height:16rem;
}
.img-banner{
    width:30rem;
}
.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card1:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card{
    border:2px solid rgba(13, 196, 210, 0.516);
}